# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\marce\OneDrive - Escuela Superior Politécnica del Litoral\GitHub Repositories\sentiment_vaccination\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
